	body, h1, h2, h3, p, img{
		border:0; margin:0; padding:0;
	}
		/*the above is a very basic reset rule.  Every browser has a slightly different default for HTML tags.  By using this simple CSS reset, all the more glaring styles 
		are reset and can now be set to whatever properties that would suit your website best. */
	
	body{
		background:#eaf8fb;	/* a light blue background color. */
		font-family:Arial, Helvetica, sans-serif; /* the font family for all text on the web page is now either arial, helvetica or a sans-serif font if those two are not available */
		 /* all normal text on the web page has a base font size of 14px now */
	}
		
	p{
		letter-spacing:.04em; /* letter spacing sets the horizontal spacing (kerning) between letters in a block of text. */
		line-height:21px; /* line height sets the vertical spacing between lines of text. */
	}
		
				
	aside{
		width:660px
		}
		
	section{
		padding:0 10px;
		width:200px;	/* when floating content next to each other, applying set widths will make the content play nice with each other. Change the width of the siebar, or take away the width of the above "div.col-right" and see what happens to get a better idea of how widths effect floats */
		}
		
				
	footer{
		background-color:#c4d5d9;
		margin:0 auto;
		padding:15px;
		text-align:center;
	}
	.float-left{
		float:left;	/* use this on an element (like an image) to make it float to the left of it's containing HTML element */
		margin:0  10px 10px 0;
	}
	.float-right{
		float:right;	/* use this on an element (like an image) to make it float to the right of it's containing HTML element */
	}
	.float-right img{
		margin:0 0 10px 10px;	/* use this on an element (like an image) to make it float to the right of it's containing HTML element */
	}
	.clear{
		clear:both; /* this clears floats.  This would be used to cancel out a float's behavior on content below it.  */
	}
	.container-inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 10%;
	}

	.container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.square {
		width: 3rem;
		height: 3rem;
		background-color: antiquewhite;
		animation-name: squares;
		animation-duration: 10s;
		animation-iteration-count: infinite;
	}
	@keyframes squares {
		0%   {background-color: #86E3CE;}
		12%  {background-color: #D0E6A5;}
		24%  {background-color: #FFDD94;}
		36% {background-color: #FA897B;}
		48%  {background-color: #CCABD8;}
		60%  {background-color: #D0E6A5;}
		72%  {background-color: #FFDD94;}
		84% {background-color: #FA897B;}
		100%  {background-color: #111111;}
	}

	@media screen and (max-width:600px){
		.img-collapsible {
			background-size: cover;
			height: 14rem;
		}
		.temp {
			width: 900%;
		}
		.contactus-inner {
			margin-top: 14rem;
			padding: 2rem;
			width: 80%;
		}
		body { overflow-x: hidden !important; max-width: 100%; font-size: 0.7em;}
		header{width: 100%; padding: 0.5rem; box-sizing: border-box;}
		.content, aside, section, footer {width: 100%; padding: 1rem; box-sizing: border-box; }
		.navigation li {display:inline-block; margin:0 0.1rem 0.2rem;	}
		h3 {padding-bottom: .1rem;}
		.square{
			visibility: hidden;
		}
		.imgsize {height: auto; width: 100%; margin-left: auto; margin-right: auto;}		
		/* footer, main, nav, section {width: 100%; padding: 5px; box-sizing: border-box; background-color: aqua;} */
		/* nav ul li {width: 100%; text-align: center; line-height: 2rem; height: 2rem;} */
	}

	@media screen and (min-width:601px){
		footer {width: 900px;}
		header {padding:45px 15px 15px;}
		.content { margin:15px auto;width:900px; }
		/* main, nav {width: 100%; padding: 5px; box-sizing: border-box;} */
		section {float: left;}
		aside {float: right;}
		/* nav ul li {width: 100%; text-align: center; line-height: 2rem; height: 2rem;} */
		/* .navigation li {display:inline-block; margin:0 3px 5px;	} */
		body { font-size:0.8125rem;}
		h1 {font-size: 2em;}
		/* .list li a {
			font-size: 0.6875rem;
		} */
		.square{
			visibility: visible;
		}
		img {float: left; margin:0  10px 10px 0;}
	}

	/* @media (hover: hover) {
		.hover {
			display: block;
		}
	} */
